
#____________
# Eclipse #
###########
*.pydevproject
.project
.metadata
.metadata/
.metadata/*
.metadata\
.metadata\*
.metadata*
.classpath
.settings/
.loadpath

# Javascript #
##########
build/**
cordova/www
cordova/platforms/android/assets
resources/sass/.sass-cache/
resources/sass/
.sencha_backup
cordova/platforms/wp8/www/
cordova/platforms/android/ant-build/
cordova/platforms/android/bin/
cordova/platforms/android/CordovaLib/bin/